.wrapper{
    display: flex;
    justify-content: space-around;
    gap:40px;
    background-color: var(--color-primary);
}

.heroText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--color-white);
}