:root {
  --color-primary: #111111;
  --color-white: #ffffff;
  --color-secondary: #1d1d1d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}


body{
    font-family: Inter,sans-serif;
    overflow-x: hidden;
}